*,
::before,
::after {
  box-sizing: border-box;
  padding: 0;
}

html {
  color-scheme: light dark;
}

body {
  line-height: 1.5;
  min-height: 100svh;
}

body,
ol,
ul,
li,
p,
div {
  margin: 0;
}

code {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;
}

a {
  background-color: transparent;
  color: inherit;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  text-wrap: balance;
  font-weight: 600;
}

p {
  text-wrap: pretty;
}

img,
picture,
svg,
video {
  max-width: 100%;
  display: block;
}
